<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0 user-scalable=no">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>通关资讯列表</title>
    <link rel="icon" href="/static/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/variable.css">
    <link rel="stylesheet" href="/static/plugin/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap-table.1.11.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/plugin/pnotify/pnotify.css">
    <link rel="stylesheet" href="/static/plugin/pnotify/pnotify.brighttheme.css">
    <link rel="stylesheet" href="/static/plugin/pnotify/pnotify.buttons.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/plugin/font/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/static/compatibility/html5shiv.js"></script>
    <script src="/static/compatibility/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="main">
    <!--<input type="hidden" id="serviceProviderId" th:value="${serviceProviderId}"/>-->
    <div id="search-part" class="row" style="display: none">
        <form id="search-form" name="search-form">
            <div>
                <!--  标题   作者  发布时间-->
                <div class="search-group col-sm-4 col-md-3 col-lg-3">
                    <label class="search-label">企业名称</label>
                    <input id="name" class="search-control" type="text"/>
                </div>
                <div class="search-group col-sm-4 col-md-3 col-lg-3">
                    <label class="search-label">社会统一信用代码</label>
                    <input id="unifiedSocialCredit" class="search-control" type="text"/>
                </div>
            </div>
        </form>
    </div>
    <div id="data-part" class="clearfix">
        <div id="toolbar" class="btn-toolbar">
            <button type="button" th:each="button:${buttons}" th:onClick="${button['jsContent']}"
                    th:class="${button['className']}">
                <i th:class="${button['icon']}"></i> <span th:text="${button['title']}"></span>
            </button>
            <button id="search" type="button" class="btn btn-success btn-sm" style="display: none"><i class="icon-search"></i> <span>搜索</span></button>
            <button id="toggle-search" type="button" class="btn"><i class="icon-angle-down"></i> <span>展开搜索</span></button>
        </div>
        <table id="table" data-classes="table table-hover table-responsive table-sm">
            <thead>
            <tr>
                <th data-checkbox="true" data-field="state"></th>
                <th data-title="企业名称" data-field="name" data-align="center"></th>
                <th data-title="统一社会信用代码" data-field="unifiedSocialCredit" data-align="center"></th>
                <th data-title="联系人" data-field="contact" data-align="center"></th>
                <th data-title="联系电话" data-field="phone" data-align="center"></th>
                <th data-title="所属行业" data-field="belongIndustry" data-align="center"></th>
                <th data-title="知网账号数" data-field="cnkiCount" data-align="center"></th>
                <th data-title="是否分配智能通关权限" data-field="iCustoms" data-align="center"></th>
                <th data-title="是否分配孵化器权限" data-field="hatchery" data-align="center"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script src="/static/plugin/jquery-1.10.2.min.js"></script>
<script src="/static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/plugin/bootstrap-table.1.11.1/bootstrap-table.min.js"></script>
<script src="/static/plugin/bootstrap-table.1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/plugin/bootstrap-datetimepicker/js/moment.js"></script>
<script src="/static/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/plugin/pnotify/pnotify.js"></script>
<script src="/static/plugin/pnotify/pnotify.buttons.js"></script>
<script src="/static/plugin/layer/layer.js"></script>
<script src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/terminal/permissionsManage.js"></script>
</body>
</html>
